
.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
/* Shared Button Styles */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: var(--primary-color);
  background-color: #0056b3;
  color: white;
}

.btn-primary:hover {
  color: white;
}

.btn-secondary {
  background-color: var(--secondary-color);
  background-color: #5a6268;
  color: white;
}

.btn-secondary:hover {
  color: white;
}
